@media only screen and (width <= 768px) {
  h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 35px;
    letter-spacing: 3px;
  }

  #buttons {
    display: flex;
    flex-direction: column;
    height: 46vh;
  }
  #text {
    margin-top: 5vh;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    width: 100vw;
    height: 5vh;
  }
  h6 {
    font-size: large;
  }
  button {
    width: 200px;
    height: 40px;
    border-radius: 10%;
    font-size:15px;
  }
  #wouldYouRather {
    width: 200px;
    height: 40px;
    border-radius: 10%;
  }
  #neverHaveIEver {
    width: 200px;
    height: 40px;
    border-radius: 10%;
  }
  #paranoia {
    width: 200px;
    height: 40px;
    border-radius: 10%;
  }
}
